
.button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24rem;
    border-radius: 0.8rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button:hover{
    filter: brightness(80%);
}

.button svg{
    width: 3.5rem;
    height: 3.5rem;
}

.green{
    background-color: var(--primary);
    color: var(--text-over-primary);
}

.red{
    background-color: var(--error);
    color: var(--text-over-error);
}