.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    margin: 4.8rem 0;
}

.button{
    display: flex;
    width: 24rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    padding: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button:hover{
    filter: brightness(80%);
}

.button svg{
    width: 3.2rem;
    height: 3.2rem;
}

.green{
    background-color: var(--primary);
    color: var(--text-over-primary);
}

.red{
    background-color: var(--error);
    color: var(--text-over-error);
}