.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3.2rem;
    
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
    gap: 2.4rem;
}

.logolink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    font-size: 4.2rem;
    font-weight: bold;
    color: var(--primary);
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.logolink:hover{
    filter: brightness(80%);
}

.logolink svg{
    width: 6.4rem;
    height: 6.4rem;
}

.linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.linkIcon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-radius: 1rem;
    text-decoration: none;
    background-color: var(--primary);
    color: var(--text-over-primary);
    transition: all 0.1s ease-in-out;
    padding: 1rem;
}

.linkIcon:hover{
    filter: brightness(80%);
}

.linkIcon svg{
    width: 2.4rem;
    height: 2.4rem;
}