.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    
}

.TimerIcon {
    color: var(--link-color);
}

.iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.BTNIcon{
    color: var(--gray-900);
    background-color: var(--link-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.BTNIcon:hover{
    background-color: var(--link-hover);
}