.settingContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.input{
    background-color: transparent;

}

.BTNIcon{
    color: var(--gray-900);
    background-color: var(--link-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}


.BTNIcon:hover{
    background-color: var(--link-hover);
}