.clockContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer{
    font-size: 10rem;
    font-weight: bold;
    color: var(--gray-100);
}

.task{
    margin-top: 4rem;
    font-size: 2rem;
    text-align: center;
}

.task input{
    font-size: 3rem;
    border-bottom-color: var(--primary-dark) ;
    width: 30rem;
    height: 3rem;
    background-color: transparent;
}

.containerCiclos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 6rem;
}

.startButton{
    text-align: center;
    margin-top: 6rem;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--gray-100);
    background-color: var(--primary);
    border: none;
    transition: background-color 0.3s;
}

.startButton button{
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}