.clockContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timer{
    font-size: clamp(8rem, 25vw, 16rem);
    font-weight: bold;
    color: var(--gray-100);
}
