.HistorysContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.HistorysHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
    gap: 3rem;
    margin: 3rem;
}

.button {
  min-width: auto;
  width: 8rem;
  margin: 0;
  padding: 1rem;
}

.button svg{
    width: 2.3rem;
    height: 2.3rem;
}

.HistorysHeader span{
    flex: 1;
    font-size: 3rem;
    font-weight: bold;
}

.responsiveTable{
    overflow-x: auto;
    border-radius: 0.8rem;
}

.responsiveTable table{
    width: 100%;
    min-width: 64rem;
    font-size: 1.6rem;
    border-collapse: collapse;
}

.responsiveTable th{
    background-color: var(--gray-600);
}

.responsiveTable td{
    background-color: var(--gray-800);
}


.responsiveTable th, .responsiveTable td{
    border-bottom: 0.2rem solid var(--gray-700);
    padding: 1.6rem;
    text-align: left;
}


.clickableHeader{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.clickableHeader:hover{
    filter: brightness(80%);
}