.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.footer a{
    color: var(--text-muted);
    text-decoration: none;
    font-size: 1.2rem;
}

.footer a:hover{
    text-decoration: underline;
}